@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav">
        @*<li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
        </li>*@
        <li class="nav-item">
            <a href="#">
                <i class="fas fa-globe-americas"></i>
                <span class="badge">2</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @User.Identity.GetUserName()
            </a>
            @*<a href="#" class="nav-link dropdown-toggle">

            </a>*@
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="@Url.Action("Attending","Gigs")">Gigs I'm Going</a>
                <a class="dropdown-item" href="@Url.Action("Mine","Gigs")">My Upcoming Gigs</a>
                <a class="dropdown-item" href="@Url.Action("Index","Followees")">Artists I'm Following</a>
                <div class="dropdown-divider"></div>
                <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item">Log off</a>
            </div>
        </li>
        
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="nav-link" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
